.App {
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2ff00+4,ff9532+100 */
  background: #f2ff00; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #f2ff00 4%,
    #ff9532 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #f2ff00 4%,
    #ff9532 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #f2ff00 4%,
    #ff9532 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ff00', endColorstr='#ff9532',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
  padding-top: 20px;
  font-family: "Rock Salt", cursive;
  font-size: 4vw;
}

h4 {
  padding-top: 10px;
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h1,
h4 {
  text-align: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
