.recipe {
  width: 10%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px black;
  margin: 50px 20px 0 20px;
  background: white;
  align-items: center;
  min-width: 20%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.recipe h1 {
  position: relative;
  padding: 15px;
  font-size: 2vw;
  text-decoration: underline;
  font-family: "Rock Salt", cursive;
  font-weight: 800;
  text-align: center;
}

.recipe ul {
  text-align: center;
  font-size: 1vw;
  padding: 10px;
  list-style-type: none;
}

.recipe p {
  font-weight: bold;
  text-align: center;
}

.recipeImg {
  text-align: center;
}

.foodImage {
  border-radius: 10px 10px 0 0;
  text-align: center;
  position: relative;
  width: 100%;
}
